.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 4px ridge;
  min-height: 350px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575cd;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #3a3838; }

body {
  padding: 50px 0 0 0;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 350px; }
    .carousel .carousel-item img {
      position: relative;
      left: 5px;
      bottom: 5px;
      min-height: 300px; }
    .carousel .carousel-item h3 {
      color: white;
      position: relative;
      padding: 5px; }

#carousel_button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2; }

.modal-content .modal-header {
  color: floralwhite;
  background: #512DA8; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background: #D1C4E9; }
